body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50vh;
    height: 50vh;   
    padding: 10px;
}

img {
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 50vh;
    height: 65vh;   
    padding: 10px;
}